.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    border-radius: 0px;
    z-index: 10007;
}
.footer{
    background-image: url('../img/orange-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #979797;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 30px;
}

.scroll-top {
    position: fixed;
    bottom: 0;
    right: 6%;
    z-index: 100;
    background: #f2f3f2;
    font-size: 14px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: dimgray;
}
.navbar {
    min-height: 50px;
}
a.navbar-brand {
    color: #000;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 400;
    font-size: 1.2em;
}
.navbar-brand {
    float: left;
    padding: 17px 17px;
    font-size: 18px;
    line-height: 22px;
    height: 30px;
}
a, .btn, img {
    transition: all 0.5s ease-in-out 0s;
}
a, .btn, img {
    transition: all 0.5s ease-in-out 0s;
}
a:hover {
    font-size: 14px; 
    text-shadow: 1px 1px white;
    color: black;
}
.navbar-nav > li:first-child > a {
    border-left: 1px solid rgba(255, 255, 255, 0.07);
}
.navbar-nav > li > a {
    border-right: 1px solid rgba(255, 255, 255, 0.07);
    border-bottom: 1px solid transparent;
    margin-bottom: -1px;
}
.nav > li > a {
    position: relative;
    padding: 17px 17px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: goldenrod;
    font-size: 16px;
}
.foot > li {
    margin: 7px;
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
a {
    color: white;
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
}
@media (min-width: 768px)
.navbar-nav > li > a {
    padding-top: 17px;
    padding-bottom: 17px;
}
.foot {
   list-style: none;
    padding-left: 0;
}

.foot > li > a {
    text-decoration: none;
    padding: 6px;
}
@media (min-width: 768px)
.navbar-nav {
    float: left;
    margin: 0;
}
.ads {
    position: fixed;
    left: -20px;
    bottom: 50%;
    z-index: 100;
    font-size: 24px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: green;
    color: white;
    transform: rotate(90deg);
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}
h6 {
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 10px;
    color: black;
    text-shadow: 1px 1px 2px white;
}
.special {
    border-radius: 20px;
    background-color: darkgreen;
    color: white;
    padding: 20px;
}
.jumbotron {
    background: url('../img/Banner-Background-007.jpg') no-repeat;
    background-size: cover;
    padding: 100px;
}
.navbar-default .navbar-brand {
    color: #FFF;
   font-family: 'Kaushan Script', cursive;
    font-size: 22px;
}
.navbar-default .navbar-nav>li>a {
    color: #FFF;
    text-shadow: 1px 1px 2px black;
    font-size: 16px;
}

.fa-facebook , .fa-twitter, .fa-youtube-play {
    border: 1px solid white;
    padding: 10px;
    border-radius: 100%;
    width: 50px;
    margin: 10px;
}
.fa-facebook:hover {
    color: #3b5998;
    font-size: 2em;
    background: white;
}
.fa-twitter:hover {
    color: #4099FF;
    font-size: 2em;
    background: white;
}
.fa-youtube-play:hover {
    color: red;
    font-size: 2em;
    background: white;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: darkgoldenrod;
}
.fa-facebook:visited {
    color: #3b5998;
}

.fa-twitter:visited {
    color: #4099FF;
 }
.fa-youtube-play:visited {
    color: red;
 }
.dropdown-menu > li > a { 
    text-shadow: none;
}

.dropdown-menu > li > a:hover {
    background-color: gold;
}
.btn-circle {
    border: 1px solid white;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    padding: 0;
}
.logofoot {
    color: white;
/*    font-family: 'Titan One', cursive;*/
    font-family: 'Kaushan Script', cursive;
    text-shadow: 1px 1px 2px black; 
}
marquee {
    padding: 10px;
    height: 40px;
}
.fa-certificate {
    color: red;
}
marquee > a {
    text-decoration: none;
    text-shadow: none;
}
marquee > a:hover {
    text-decoration: none;
    text-shadow: none;
}
body{
    padding:0;
    margin:0;
    overflow-x: hidden;
}

.jumbotron > a {
    margin: 0;
}

#jumboheader > h1 {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
#jumboheader > p {
    color: white;
}
footer {
    color: dimgray;
    background-color: black;
    padding: 3px;
}
.education {
    background-image: url("../img/education-banner.jpg");
    -webkit-filter: opacity(60%);
    color: ghostwhite;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 100%;
    letter-spacing: 4px;
    height: 300px;
}

.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% 40%;
}

.fa-laptop, .fa-book, .fa-users, .fa-user-md, .fa-file-text, .fa-graduation-cap, .fa-comments, .fa-pencil-square-o, .fa-cog {
    color: goldenrod;
}
h4{
    font-weight: bold;
}

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
article {
    padding: 30px;
}

.faq{
    position: fixed;
    left: -3px;
    bottom: 63%;
    z-index: 100;
    font-size: 24px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: orangered;
    color: white;
    transform: rotate(90deg);
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 1px 1px 2px black;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: darkgoldenrod;
}
.carousel {   
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px; 
    color: white;   
    font-family: 'Cormorant Garamond', serif;
    text-shadow: 1px 1px 2px black;
}
@media only screen and (max-width: 500px) {
    .carousel {
        padding-top:10px;
    }
    .jumbotron {
        padding: 50px;
    }
}
.fa-heart{
    color: red;
}

.blank {
    padding-top: 100px;
}

.reg {
    position: fixed;
    left: -27px;
    bottom: 33%;
    z-index: 100;
    font-size: 24px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: darkcyan;
    color: white;
    transform: rotate(90deg);
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 1px 1px 2px black;
    
}

.modal-dialog {
    margin-top: 60px;
}
.modal-header{
    background: gold;
}

#subscribe, #contact, #aboutus, #career, #gallery, #publications, #syllabus, #faq {
      padding-top: 63px;
}